<head>
    <link rel="stylesheet" href="/css/index.css">
</head>
    
    <%- include ('./partials/header') %>

    <!-------------------------- carousel starting---------------------------- -->

    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="/images/Hero.jpg">
                <div class="content">
                    <div class="author">ACCU DESIGN</div>
                    <div class="title">EXPERTS</div>
                    <div class="topic">CERTIFIED</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        We at ACCU DESIGN, specialize in precision manufacturing,
                        development of indigenous engineering solutions tailored to
                        meet the unique needs of our clients.
                        MAKE APPOINTMENT +91-9579314891 EMERGENCY ASSISTANCE
                    </div>
                    <div class="buttons">
                        <button><a href="/"> SEE MORE</a></button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/accuimages/3d print 1.png">
                <div class="content">
                    <div class="author">ACCU DESIGN</div>
                    <div class="title">3D PRINTING</div>
                    <div class="topic">Optimization</div>
                    <div class="desi">
                        3D Printing We Can Provide You With A Range Of Solutions To Save Money And Reduce Your Carbon
                        Footprint.By adopting 3D printing technologies and incorporating sustainable practices,
                        businesses and individuals can save money, reduce their environmental impact, 
                        and contribute to a more sustainable future.
                    </div>
                    <div class="buttons">
                        <button><a href="./3d-printing">SEE MORE</a></button>
                        <button>LEARN MORE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/accuimages/machining2.png">
                <div class="content">
                    <div class="author">ACCU DESIGN</div>
                    <div class="title">MACHINING</div>
                    <div class="topic">Saving Resources</div>
                    <div class="desi">
                        We offer comprehensive solutions designed to boost your bottom line while minimizing your environmental footprint.  Our services focus on optimizing resource utilization, reducing waste, and improving operational efficiency.  
                    </div>
                    <div class="buttons">
                        <button><a href="/machining">SEE MORE</a></button>
                        <button>LEARN MORE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/accuimages/gear2.png">
                <div class="content">
                    <div class="author">ACCU DESIGN</div>
                    <div class="title">Gear</div>
                    <div class="topic">Synergy</div>
                    <div class="desi">
                        We are experts in high-precision gear manufacturing, providing cost-effective solutions tailored to your specific needs.  Our specialized processes minimize material waste during production, contributing to both cost savings and a smaller environmental footprint.
                    </div>
                    <div class="buttons">
                        <button><a href="/gear">SEE MORE</a></button>
                        <button>LEARN MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="/images/Hero.jpg">
                <div class="content">
                    <div class="title">
                        HOME PAGE
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/accuimages/3d print 1.png">
                <div class="content">
                    <div class="title">
                        3D Printing
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/accuimages/machining2.png">
                <div class="content">
                    <div class="title">
                        Machining
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/accuimages/gear2.png">
                <div class="content">
                    <div class="title">
                        Gear
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>
<!------------ End of carousel top----------- -->
    <!--        featured section        -->
    <div class="featured">
        <img src="/images/Featured.jpg" alt="Featured Image">
    </div>

    <!--           welcome  section       -->

    <div class="welcome">
        <div class="welcome-img">
            <img src="/accuimages/welcome-img.png" alt="Welcome Image">
        </div>
        <div class="welcome-video">
            <div class="welcome-heading">
                <img src="/accuimages/Vector.png" alt="Icon">
                <h2>Who We Are</h2>
            </div>
            <h1>Experts in Rapid Prototyping Development & Precision Manufacturing & Development</h1>
            <p>We at ACCU DESIGN, specialize in precision manufacturing, development of indigenous engineering solutions
                tailored to meet the unique needs of our clients.</p>
            <div class="video-item">
                <video controls>
                    <source src="/Accuvideos/Welcome to ACCU DESIGN ðŸš€âš™ï¸(2K_60FPS).webm" type="video/webm">
                </video>
            </div>
        </div>
    </div>
    <!--      home page services section     -->

    <div class="services">
        <h2 class="offer">
            <img src="/accuimages/Vector.png" alt="Icon" class="vector"> WHAT WE OFFER
        </h2>
        <h1 class="explore-services">Explore Our Services</h1>
        <div class="our-services-img">
            <div class="card-services">
                <img src="/accuimages/home machnining.png" alt="Machining" class="service-image">
                <div class="service-name">CNC,VMC MACHINING</div>
            </div>
            <div class="card-services">
                <img src="/accuimages/home 3d printing.jpg" alt="3D Printing" class="service-image">
                <div class="service-name">3D PRINTING</div>
            </div>
            <div class="card-services">
                <img src="/accuimages/home laser cutting.jpg" alt="Laser Cutting" class="service-image">
                <div class="service-name">LASER CUTTING</div>
            </div>
        </div>
    </div>

    <div class="slider-container1">
        <!-- Left Scroll Button -->
        <button class="prev1" id="prevBtn1">&#10094;</button>

        <div class="slider-wrapper1">
            <div class="slider1" id="slider1">
                <!-- Image 1 -->
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/machining1.png" alt="Machining" class="slider-image">
                        <div class="image-name">Precision Machining</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/machining" class="button1">Learn More</a>
                        <a href="#" class="button1">Get a free Quote</a>
                    </div>
                </div>

                <!-- Image 2 -->
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/laser1.png" alt="Laser Cutting" class="slider-image">
                        <div class="image-name">Laser Cutting</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/laser-cuttting" class="button1">Learn More</a>
                        <a href="#" class="button1">Get a free Quote</a>
                    </div>
                </div>

                <!-- Image 3 -->
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/fabrication1.png" alt="Fabrication" class="slider-image">
                        <div class="image-name">Aluminium, Stainless Steel Fabrication</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/fabrication" class="button1">Learn More</a>
                        <a href="#" class="button1">Get a free Quote</a>
                    </div>
                </div>
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/3d print 1.png" alt="3D Printing" class="slider-image">
                        <div class="image-name">3D Printing</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/3d printing" class="button1">Learn More</a>
                        <a href="#" class="button1">Get a free Quote</a>
                    </div>
                </div>
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/casting.png" alt="Casting" class="slider-image">
                        <div class="image-name">Casting</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/casting" class="button1">Learn More</a>
                        <a href="#" class="button1">Get a free Quote</a>
                    </div>
                </div>
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/gear1.png" alt="Gear" class="slider-image">
                        <div class="image-name">Gear</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/gear" class="button1">Load More</a>
                        <a href="#" class="button1">Get a Quote</a>
                    </div>
                </div>
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/bending.png" alt="Bending" class="slider-image">
                        <div class="image-name">Bending</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/bending" class="button1">Learn More</a>
                        <a href="#" class="button1">Get a free Quote</a>
                    </div>
                </div>
                <div class="slider-item1">
                    <div class="image-container1">
                        <img src="/accuimages/wire cutting.png" alt="Cutting" class="slider-image">
                        <div class="image-name">Cutting</div>
                    </div>
                    <div class="button-wrapper">
                        <a href="/cutting" class="button1">Learn More</a>
                        <a href="#" class="button1">Get a free Quote</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Scroll Button -->
        <button class="next1" id="nextBtn1">&#10095;</button>
    </div>

    <div class="view-more">
        <a href="/our-services" class="view-more-services-link">
            <button class="view-more-services">VIEW MORE SERVICES</button>
        </a>
    </div>
    </div>

    <div class="our-latest-work">
        <div class="latest-work-study">
            <div class="heading-with-img">
                <img src="/accuimages/Vector.png" alt="Icon">
                <h2 class="latest-work">OUR LATEST WORK</h2>
            </div>
            <h1>HIGH SHEAR POWDER & LIQUID MIXER</h1>
            <p>High Shear Mixer takes a revolutionary approach to powder/liquid mixing.</p>
            <ul>
                <li>Model: HSM25</li>
                <li>Motor: 5.5 KW (7.5HP)</li>
                <li>Flow Rate: 3.785 Liters per minute</li>
                <li>Specification: L1050 X W375 X 900MM</li>
            </ul>
            <button>VIEW CASE STUDIES</button>
        </div>
        <div class="images-latest">
            <img src="/accuimages/home page remaining img.jpg" alt="Mixer Image">
        </div>
    </div>

    <!--         testimonial    -->
    <div class="testimonial">
        <div class="test">
            <h2 class="test-img">
                <img src="/accuimages/Vector.png" class="vector" alt="Testimonial Icon"> TESTIMONIALS
            </h2>
        </div>
        <div class="machining-components">
            <h2 class="machining-components-h2">PRECISION MACHINING COMPONENTS</h2>
        </div>
    </div>

    <div class="main-test">
        <div class="table">
            <div class="image-content">
                <div class="img-test">
                    <img src="/accuimages/home pan ind.png" alt="Pan India DRDO Labs">
                </div>
                <div class="content-test">
                    PAN India DRDO Labs
                </div>
                <div class="content">
                    <p>No. of Unique Parts Manuf: 100+</p>
                    <p>Finish Range: 05 - 15 microns</p>
                    <p>Production Tenure: 2018 - Present</p>
                </div>
            </div>

            <div class="image-content">
                <div class="img-test">
                    <img src="/accuimages/home c-teach.png" alt="C-TECH CNC COMPONENTS">
                </div>
                <div class="content-test">
                    C-TECH CNC COMPONENTS
                </div>
                <div class="content">
                    <p>No. of Unique Parts Manuf: 32</p>
                    <p>Finish Range: 20 - 40 microns</p>
                    <p>Production Tenure: 9 months</p>
                </div>
            </div>

            <div class="image-content">
                <div class="img-test">
                    <img src="/accuimages/home seinumero.png" alt="Seinumero Nirman Pvt. Ltd.">
                </div>
                <div class="content-test">
                    Seinumero Nirman Pvt. Ltd.
                </div>
                <div class="content">
                    <p>No. of Unique Parts Manuf: 100+</p>
                    <p>Finish Range: 10 - 30 microns</p>
                    <p>Production Tenure: 12 months</p>
                </div>
            </div>
        </div>
    </div>

    <!--                  our-blogs            -->
    <div class="our-blogs">
        <div class="blog-content">
            <h2 class="blogs"><img src="/accuimages/Vector.png" class="vector">OUR BLOGS</h2>
            <h1 class="exploring">Exploring The World Of</h1>
            <h1 class="mechanical-engineering">Mechanical Engineering</h1>
        </div>
        <div class="video-grid">
            <div class="video-item1">
                <video controls>
                    <source src="/Accuvideos/Basics of Welding Techniques _ WeldingðŸ”§ðŸ”¥(1080P_HD).mp4"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-item2">
                <video controls>
                    <source
                        src="/Accuvideos/Introduction to Hydraulics _ Harnessing the Power of Fluids ðŸ’§âš™(1080P_60FPS).mp4"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-item3">
                <video controls>
                    <source
                        src="/Accuvideos/Heat Treatment of Metals ðŸ”¥ _ Strengthening Engineering Materials(1080P_HD).mp4"
                        frameborder="0" allowfullscreen class="blogsvideo" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="video-item4">
                <video controls>
                    <source
                        src="/Accuvideos/Learn Manufacturing Principles _ Minimize Waste_ Maximize Efficiency ðŸš€(1080P_HD).mp4"
                        type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

        </div>

        <div class="case-study">
            <a href="/our-services" class="view-more-services-link">
                <button class="view-case-study">VIEW CASE STUDY</button>
            </a>
        </div>
    </div>

    <div class="appointment">
        <div class="partner-with-us">
            <div class="content-container">
                <h2 class="make">
                    <img src="/accuimages/Vector (1).png" alt="Appointment Icon"> MAKE APPOINTMENT
                </h2>
                <h1 class="solutions">
                    PARTNER WITH US FOR RELIABLE ENGINEERING SOLUTIONS!
                </h1>
                <p>
                    From Ideation to Execution, we deliver it ALL.
                </p>
                <div class="partner-col">
                    <ul>
                        <li>
                            <h6>LOCATION</h6>
                            <a href="https://maps.app.goo.gl/TdVCnvpmeFAvt345A" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                Shop No. 30/15, Unity Industrial Estate, Saidham Road, Dhayari, Pune, Maharashtra 411041
                            </a>
                        </li>
                        <li>
                            <h6>EMAIL</h6>
                            <a href="mailto:projects@accudesign.in">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                projects@accudesign.in
                            </a>
                        </li>
                        <li>
                            <h6>PHONE</h6>
                            <a href="tel:+91-9821679475">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                +91-9821679475
                            </a><br>
                            <a href="tel:+91-9579314891">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                +91-9579314891
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="make-appointment-login">
            <h2>HOW CAN WE HELP</h2>
            <div class="input-help">
                <form id="contactForm" action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="c4fcec5c-3bdc-4da3-ad7d-d6119b630fb9">
                    <input type="text" id="name" name="name" placeholder="YOUR NAME" required>
                    <input type="text" id="number" name="number" placeholder="PHONE NUMBER" required>
                    <input type="email" id="email" name="email" placeholder="EMAIL ADDRESS" required>
                    <textarea id="issue" name="issue" placeholder="YOUR ISSUE" class="description" required></textarea>
                    <button type="submit">SEND YOUR MESSAGE</button>
                </form>
            </div>
        </div>
    </div>

    <!-- frequently asked question section -->
    <div class="FAQS">
        <img src="/accuimages/Vector.png" alt="FAQs Icon">
        <h2>FAQs</h2>
    </div>
    <div class="questions">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
    </div>
    <div class="questions-lists">
        <div class="list-container">
            <ul class="faq-list">
                <li class="faq-item">
                    <a href="#" class="faq-link">
                        WHAT INDUSTRIES DO YOU SERVE?
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-ques">
                        <p>We serve a wide range of industries, including aerospace, automotive, medical, electronics,
                            and more. Contact us to discuss your specific needs.</p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="#" class="faq-link">
                        DO YOU OFFER SUSTAINABLE SOLUTIONS?
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-ques">
                        <p>Yes, we are committed to sustainable manufacturing practices. We explore eco-friendly
                            materials and processes whenever possible.</p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="#" class="faq-link">
                        WHAT ARE YOUR PAYMENT TERMS?
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-ques">
                        <p>Our payment terms vary depending on the project. We typically require a deposit upfront, with
                            the remaining balance due upon completion. Contact us for details.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-container">
            <ul class="faq-list">
                <li class="faq-item">
                    <a href="#" class="faq-link">
                        CAN YOU HANDLE CUSTOM REQUESTS?
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-ques">
                        <p>Absolutely! We specialize in custom manufacturing. Bring us your ideas, we shall provide you
                            a full stack solution from designing to manufacturing and we'll make it happen.</p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="#" class="faq-link">
                        HOW CAN I REQUEST A QUOTE?
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-ques">
                        <p>You can request a quote by filling out the form on our "Contact Us" page, or by calling or
                            emailing us directly. You can also chat with our AI assistant and provide as much detail as
                            possible about your project.</p>
                    </div>
                </li>
                <li class="faq-item">
                    <a href="#" class="faq-link">
                        WHAT QUALITY CONTROL PROCESSES DO YOU FOLLOW?
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-ques">
                        <p>We have rigorous quality control processes in place at every stage of manufacturing, from
                            material inspection to final product testing. We adhere to industry standards and are ISO
                            9001 certified.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; Copyright 2025 TechNewity Labs - All rights reserved.</p>
    </div>
    <a href="/"><img src="/accuimages/upward-arrow.png" alt=""
            style="right: 1%; top: 90%; width: 50px; padding-bottom: 5%;" class="scrolltop"></a>


    <!-- ----------footer ---------------------->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4><span style="color: #007AFF;">ACCU </span>DESIGN</h4>

                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Our Services</a></li>
                        <li><a href="">Blogs</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="">Machining</a></li>
                        <li><a href="">Laser Cutting / Wire Cutting</a></li>
                        <li><a href="">Fabrication</a></li>
                        <li><a href="">3D printing</a></li>
                        <li><a href="">Casting</a></li>
                        <li><a href="">Gear Malfunctioning</a></li>
                        <li><a href="">Bending</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="https://maps.app.goo.gl/TdVCnvpmeFAvt345A">Shop No. 30/15, unity industrial
                                estate, Saidham Road, Dhayari, Pune, Maharashtra 411041<a></li>
                        <li><a href="projects@accudesign.in">projects@accudesign.in<a></li>
                        <li><a href="tel:+91-9821679475 / +91-9579314891">+91-9821679475 / +91-9579314891</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <div class="subscribe-us">
                            <h4>Subscribe Us</h4>
                            <form id="contactForm" action="https://api.web3forms.com/submit" method="POST"
                                class="input">
                                <input type="email" id="email" name="email" placeholder="    Write to us...">
                                <button type="submit"> <i class="fa-solid fa-angles-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="./js/FAQ.js"></script>
    <script src="./js/scroll.js"></script>
    <script src="./js/form.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/Carosal.js"></script>
    <script src="./js/search-bar.js"></script>
</body>

</html>