<head>
    <link rel="stylesheet" href="/css/about us.css">
</head>

<%- include('../partials/header.ejs') %>
    <section class="back first">
        <div class="about">
            <h1>About Us</h1>
        </div>
    </section>
    <div class="sec-tion">
        <div class="te-xt">
            <h2><samp style="color:#FFA500;">About Us</samp></h2>
            <h1>About <samp style="color:#007AFF;">ACCU</samp> DESIGN</h1>
            <p>We at ACCU DESIGN, specialize in precision manufacturing, development of indigenous engineering solutions tailored to meet the unique needs of our clients. With a commitment to quality and innovation, we provide a comprehensive range of manufacturing capabilities, from product design and prototyping to full-scale production. Our advanced facilities and skilled team ensure high standards across all stages of manufacturing, enabling us to deliver reliable, efficient, and customized solutions for various indus  s. Whether it's creating complex parts or large-scale assemblies, ACCU DESIGN is dedicated to helping our clients bring their ideas to life with accuracy and excellence.
        </div>
        <img src="/images/about us.png" alt="">
        </p>
    </div>
    <div class="center">
        <h1>Vision & <samp style="color: #007AFF;">Mission</samp></h1>
    </div>
    <section class="timeline">
        <div class="timelinerow">
            <div class="timelinecol">
                <h2 class="tit">Our Mission Statement<span class="animate" style="--i:1;"></span></h2>
                <div class="timelinebox">
                    <div class="timelinecont">
                        <div class="con">
                            <h3>Precision</h3>
                            <pa>We are committed to delivering reliable and precise components that meet international
                                standards, leveraging cutting-edge technology and the expertise of skilled
                                professionals.
                            </pa>
                        </div>
                    </div>
                    <div class="timelinecont">
                        <div class="con">
                            <h3>Innovation</h3>
                            <pa>We strive for continuous improvement and innovation, offering highly customized
                                solutions that align with our clients' evolving needs

                            </pa>
                        </div>
                    </div>
                    <div class="timelinecont">
                        <div class="con">
                            <h3>Customer Satisfaction</h3>
                            <pa>We are committed to delivering reliable and precise components that meet international
                                standards, leveraging cutting-edge technology and the expertise of skilled
                                professionals.
                            </pa>
                        </div>
                    </div>
                    <span class="animate" style="--i:2;"></span>
                </div>
            </div>
            <div class="timelinecol">
                <h2 class="tit">Our Vision Statement<span class="animate" style="--i:3;"></span></h2>
                <div class="timelinebox">
                    <div class="timelinecont">
                        <div class="con">
                            <h1>Integrity</h1>
                            <pa>We strive to be a beacon of integrity in the manufacturing industry, upholding the
                                highest ethical standards and practicing responsible operations.
                                .
                            </pa>
                        </div>
                    </div>
                    <div class="timelinecont">
                        <div class="con">
                            <h3>Investment</h3>
                            <pa>We are dedicated to continual investment in our workforce, technology, and processes,
                                ensuring we remain at the forefront of innovative manufacturing solutions.

                            </pa>
                        </div>
                    </div>
                    <div class="timelinecont">
                        <div class="con">
                            <h3>Leadership</h3>
                            <pa>We aspire to be recognized as a market leader by consistently delivering high-quality,
                                precision products that surpass our customers'expectations.
                            </pa>
                        </div>
                    </div>
                    <span class="animate" style="--i:4;"></span>
                </div>
            </div>
        </div>
    </section>
    <div class="center">
        <h1>The <samp style="color: #007AFF;">ACCU</samp> DESIGN <br>Brand Values</h1>
    </div>
    <div class="container">
        <div class="left-text">
            <h2>Integrity</h2>
            <p>At the heart of our operations, integrity guides every decision we make.
                We are dedicated to upholding the highest ethical standards, ensuring transparency and trust in all our
                relationships. .</p>
        </div>
        <div class="right-text">
            <h2>Fairness</h2>
            <p>We believe in treating everyone with fairness and respect.
                We foster an environment where equal opportunities are provided, and decisions are made based on merit
                and ethical considerations.</p>
        </div>
    </div>
    <div class="container">
        <div class="left-text">
            <h2>Honesty</h2>
            <p>AWe prioritize open, truthful communication with our clients, partners, and employees.
                Our commitment to honesty ensures that every interaction is built on trust and mutual respect. </p>
        </div>
        <div class="right-text">
            <h2>Accountability</h2>
            <p>AWe take full responsibility for our actions, ensuring that every project is executed with precision and
                excellence.
                We hold ourselves accountable for the quality of our work, and our commitment to delivering reliable
                results is unwavering..</p>
        </div>
    </div>
    <div class="about-col">
        <p>Welcome to ACCU DESIGN, your premier Manufacturing as a Service (MaaS) provider, where we prioritize seamless
            manufacturing and product development services according to your needs.

        <p>At Accu design, we turn your ideas into reality. We’re dedicated to simplifying the manufacturing and product
            development journey for startups, mechanical companies, and engineering enthusiasts like you. We serve as a
            launchpad for your creativity, allowing you to experiment, innovate, and bring your visions to life.</p>
        <br><br>

        <h3>1. Manufacturing Service:</h3>
        <p>Experience efficiency and quality in our demand-driven manufacturing services. With state-of-the-art
            facilities and a network of reliable vendors, we ensure prompt delivery without compromising on quality.
            Whether you require CNC/VMC machining, Laser cutting and bending, Fabrication(), 3D printing, casting,
            forging, or any other manufacturing process, we have the expertise and resources to meet your requirements.
        </p> <br><br>

        <h3>2. Product Development Service:</h3>
        <p>Our experienced design team is here to guide you through every step of the product development process. From
            concept to completion, we’re committed to transforming your ideas into tangible solutions. Whether you’re
            facing design challenges or seeking innovative solutions, we’re here to support you every step of the way.
        </p> <br><br>

        <h3>3. Your Partner in Simplifying Manufacturing:</h3>
        <p>At Accu Design, we don’t just provide services; we become your partners in simplifying the manufacturing
            process. Our mission is to empower you to realize your vision efficiently and effectively. With our
            collaborative approach and commitment to excellence, we strive to exceed your expectations and bring your
            ideas to fruition.</p>

        <p>Join us at Accu Design and experience a new era of manufacturing and product development. Together, let’s
            revolutionize your creation process and make your ideas a reality.

        </p>
    </div>
    <a href="/About"><img src="/accuimages/upward-arrow.png" alt=""
            style="right: 1%; top: 90%; width: 50px; padding-bottom: 5%;" class="scrolltop"></a>

       <!-- ----------footer ---------------------->
       <%- include('../partials/footer') %>

    <script src="../js/form.js"></script>
    <script src="../js/search-bar.js"></script>
</body>

</html>