<%- include('./partials/header') %>

    <section class="banc fir">
        <div class="about2">
            <h1>Blogs</h1>
        </div>
    </section>

    <div class="sec-tion">
        <div class="te-xt">
            <h1>Welcome To <br><span style="color: #007AFF;">ACCU</span> DESIGN Blogs</h1>
            <p>- Our Custom Built Training Facility Based At Our North East HQ. <br><br>
                - We Provide Specific, Hands On Industry Training. All Certified In A
                Space That Allows You To Absorb, Practice And Achieve Your New
                Skills.
                <a href="" class="but-ton">Read More</a>
        </div>
        <img src="../images/blo.png" alt="">
        </p>

    </div>

    <!-- Card section -->
    <div class="car-d">
        <div class="car-d">
            <img src="../images/bl.png" alt="">
            <div class="cont-ain">
                <h2>CUSTOM BUILT CENTRE</h2>
                <p>We Have Adapted Our Large EMS HQ To Build A Bespoke Training Facility Boasting Classroom Spaces,
                    Practical Learning Bays, Demonstration Areas Including A CT Metering Room And Multi Way Distribution
                    Boards And Official, Secure Practical.
                </p>
                <a href="" class="but-ton">Read More</a>
            </div>
        </div>
        <div class="car-d">
            <img src="../images/bo.png" alt="">
            <div class="cont-ain">
                <h2>CUSTOM BUILT CENTRE 2022</h2>
                <p> We Have Adapted Our Large EMS HQ To Build A Bespoke Training Facility Boasting Classroom Spaces,
                    Practical Learning Bays, Demonstration Areas Including A CT Metering Room And Multi Way Distribution
                    Boards And Official, Secure Practical Assessment Rooms.

                </p>
                <a href="" class="but-ton">Read More</a>
            </div>
        </div>
        <div class="car-d">
            <img src="../images/bo.png" alt="">
            <div class="cont-ain">
                <h2>CUSTOM BUILT CENTRE 2022</h2>
                <p> We Have Adapted Our Large EMS HQ To Build A Bespoke Training Facility Boasting Classroom Spaces,
                    Practical Learning Bays, Demonstration Areas Including A CT Metering Room And Multi Way Distribution
                    Boards And Official, Secure Practical Assessment Rooms.

                </p>
                <a href="" class="but-ton">Read More</a>
            </div>
        </div>
        <div class="car-d">
            <img src="../images/bo.png" alt="">
            <div class="cont-ain">
                <h2>CUSTOM BUILT CENTRE 2022</h2>
                <p> We Have Adapted Our Large EMS HQ To Build A Bespoke Training Facility Boasting Classroom Spaces,
                    Practical Learning Bays, Demonstration Areas Including A CT Metering Room And Multi Way Distribution
                    Boards And Official, Secure Practical Assessment Rooms.

                </p>
                <a href="" class="but-ton">Read More</a>
            </div>
        </div>
        <div class="car-d">
            <img src="../images/blow.png" alt="">
            <div class="cont-ain">
                <h2>CUSTOM BUILT CENTRE 2022 </h2>
                <p>Theory And Practical Experience Can All Be Gained On Site At EMS
                    Training. Something We've Found To Be A Rare Commodity In
                    Industry Training Is The Opportunity To Put What You Learn Into
                    Practice In A Safe, Controlled Environment. Building Confidence
                    And Experience For Our Clients.</p>
                <a href="" class="but-ton">Read More</a>
            </div>
        </div>
        <div class="car-d">
            <img src="../images/blow.png" alt="">
            <div class="cont-ain">
                <h2>CUSTOM BUILT CENTRE 2022 </h2>
                <p>Theory And Practical Experience Can All Be Gained On Site At EMS
                    Training. Something We've Found To Be A Rare Commodity In
                    Industry Training Is The Opportunity To Put What You Learn Into
                    Practice In A Safe, Controlled Environment. Building Confidence
                    And Experience For Our Clients.</p>
                <a href="" class="but-ton">Read More</a>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    
        <div class="pagination">
            <a href=""> < </a>
            <a href="../html/About.html" class="active">1</a>
            <a href="../html/Blog.html">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">></a>
        </div>
   
    <a href="../html/Blog.html"><img src="../accu images/upward-arrow.png" alt=""
            style="right: 1%; top: 90%; width: 50px; padding-bottom: 5%;" class="scrolltop"></a>

    <!-- ----------footer ---------------------->
    <%- include('./partials/footer') %>

    <script src="../js/form.js"></script>
    <script src="../js/search-bar.js"></script>
</body>

</html>