<head>
    <link rel="stylesheet" href="/css/gear.css">
</head>

<%- include('../partials/header') %>

    <section class="gear man">
        <div class="about"><h1>Gear Manufacturing</h1></div>
    </section>

    <div class="container">
        <div class="left-side">
            <div class="buttons">
                <a href="/machining"><button>Machining</button></a>
                <a href="/laser-cutting"><button>Laser Cutting</button></a>
                <a href="/fabrication"><button>Fabrication</button></a>
                <a href="/3d-printing"><button>3D printing</button></a>
                <a href="/casting"><button>Casting</button></a>
                <a href="/gear"><button>Gear Manufacturing</button></a>
                <a href="/bending"><button>Bending</button></a>
                <a href="/wire-cutting"><button>Wire Cutting</button></a>
            </div>
            <a href=""><img class="image-link" src="/accuimages/Group 48095677 (1).png" alt="Left Image"></a>
        </div>
        <div class="right-side">
            <img class="right-image" src="/accuimages/gear2.png" alt="Right Image">
            <h2>Gear Manufacturing</h2>  
            <p>We Specialize In High-Precision Gear Manufacturing, Offering Cost-Effective Solutions That Minimize Waste And Support Sustainable Production.</p>
            <h2>Services:</h2>  
            <ul>
                <li>FSpur Gear Production</li>
                <li>Helical Gear Cutting</li>
                <li> Bevel Gear Manufacturing</li>
                <li> Gearbox Refurbishing</li>
                <li> Spline And Shaft Machining</li>
            </ul>

           
            <img class="bottom-image" src="/accuimages/machining3.png" alt="Bottom Image">
        </div>
    </div>
    <a href="/gear"><img src="/accuimages/upward-arrow.png" alt="" style="right: 1%; top: 90%; width: 50px; padding-bottom: 1%;" class="scrolltop"></a>
    
        
 
<!-- ----------footer ---------------------->
<%- include('../partials/footer') %>

<script src="../form.js"></script>
<script src="../js/search-bar.js"></script>
</body>
</html>