<head>
    <link rel="stylesheet" href="/css/machining.css">
</head>

<%- include('../partials/header') %>

    <section class="mac ching">
        <div class="about">
            <h1>Machining</h1>
        </div>
    </section>

    <div class="container">
        <div class="left-side">
            <div class="buttons">
                <a href="/machining"><button>Machining</button></a>
                <a href="/laser-cutting"><button>Laser Cutting</button></a>
                <a href="/fabrication"><button>Fabrication</button></a>
                <a href="/3d-printing"><button>3D printing</button></a>
                <a href="/casting"><button>Casting</button></a>
                <a href="/gear"><button>Gear Manufacturing</button></a>
                <a href="/bending"><button>Bending</button></a>
                <a href="/cutting"><button>Wire Cutting</button></a>
            </div>
            <a href=""><img class="image-link" src="/accuimages/Group 48095677 (1).png" alt="Left Image"></a>
        </div>
        <div class="right-side">
            <img class="right-image" src="/accuimages/machining2.png" alt="Right Image">
            <h2>Machining</h2>
            <p>We Can Provide You With A Range Of Solutions To Save Money And Enhance Operational Efficiency While
                Reducing Your Environmental Impact.</p>
            <h2>Services:</h2>
            <ul>
                <li> CNC Machining - Turning, Drilling</li>
                <li> VMC Machining - Milling, Drilling</li>
                <li> Surface Grinding</li>
            </ul>

            <img class="bottom-image" src="/accuimages/machining3.png" alt="Bottom Image">
        </div>
    </div>
    <a href="/machining"><img src="/accuimages/upward-arrow.png" alt=""
            style="right: 1%; top: 90%; width: 50px; padding-bottom: 1%;" class="scrolltop"></a>



<!-- ----------footer ---------------------->
<%- include('../partials/footer') %>

    <script src="../form.js"></script>
    <script src="../js/search-bar.js"></script>
</body>

</html>