<head>
  <link rel="stylesheet" href="/css/our-sevices.css">
</head>

<%- include('../partials/header') %>

  <section class="parent service">
    <div class="about5">
      <h1>Services</h1>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <div class="grid">
        <div class="grid-item">
          <img src="/accuimages/parent service machinr.jpg" alt="Machining">
          <h3>Machining</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
        <div class="grid-item">
          <img src="/accuimages/parent service leaser cutting.png" alt="Laser Cutting">
          <h3>Laser Cutting</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
        <div class="grid-item">
          <img src="/accuimages/parent service bending.jpg" alt="Bending">
          <h3>Bending</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
        <div class="grid-item">
          <img src="/accuimages/parent service 3d printing.png" alt="3D Printing">
          <h3>3D Printing</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
        <div class="grid-item">
          <img src="/accuimages/parent service fabrication.png" alt="Fabrication">
          <h3>Fabrication</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
        <div class="grid-item">
          <img src="/accuimages/parent service casting.jpg" alt="Casting">
          <h3>Casting</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
        <div class="grid-item">
          <img src="/accuimages/parent service gear manifacturing.jpg" alt="Gear Manufacturing">
          <h3>Gear Manufacturing</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
        <div class="grid-item">
          <img src="/accuimages/parent service wire cuttig.jpg" alt="Wire Cutting">
          <h3>Wire Cutting</h3>
          <button class="btn"><a href="#">Book Now</a></button>
        </div>
      </div>
    </div>
  </section>
  <div class="view-more">
    <button class="view-more-services"><a href="/machining">EXPLORE MORE</a></button>
  </div>

  <a href=""><img src="/accuimages/upward-arrow.png" alt="upward-arrow button"
      style="right: 1%; top: 90%; width: 50px; padding-bottom: 5%;" class="scrolltop"></a>

  <!-- ----------footer ------------------>
  <%- include('../partials/footer') %>

  <script src="../js/form.js"></script>
  <script src="../js/search-bar.js"></script>
</body>

</html>